div.division_container{
    width: 100%;
    margin-bottom: 3%;
}
div.half_left{
    float: left;
    width: 50%;
}
div.half_right{
    width: 50%;
}   

.center{
    /* background-color: red; */
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
}
form{
    font-weight: bold;
    font-size: inherit;
}
input[type=text]{
    padding: 2%;
    padding-bottom: 1%;
    text-transform: uppercase;
    border: 0px;
    border-bottom: 2px black solid;
    transition: 500ms;
}

input[type=text]:focus{
    background-color: var(--primary-color);
    color: var(--bg-color_pri);
    border-color: transparent;
}

select{
    padding: 1%;
    border: 0px;
    border-bottom: 2px black solid;
}

input[type=date]{
    padding: 2%;
    padding-bottom: 1%;
    text-transform: uppercase;
    border: 0px;
    border-bottom: 2px black solid;
    transition: 500ms;
}

button{
    width: 100%;
    padding: 2%;
    border: 3px black solid;
    text-transform: uppercase;
    font-weight: bold;
    transition: 500ms;
}

button:hover{
    background: black;
    color: white;
    font-size: 125%;
    padding: 1.6%;
}
label{
    text-transform: uppercase;
    color: black;
}