:root{
    --primary-color: #000000;
    --secondary-color: #1d1d1d;
    --font-color-pri: #424242;
    --font-color-sec: #505050;
    --bg-color_pri: #fff;
    --bg-color_sec: rgb(233, 233, 233);
    --heading-color: #292922;
}

body{
    overflow-x: hidden;
    background-color: var(--bg-color_pri);
    font-family: arial;
    color: var(--font-color-pri);
    margin: 0;
}

div.header_container{
    top: 0;
    position: fixed;
    width: 100vw;
    height: 2.5vw;
    padding: 2vw;
    background-color: var(--bg-color_pri);
    border-bottom: 2px var(--primary-color) solid;
    transition: 500ms;
    z-index: 1;
}
/* 
div.header_container:hover{
    padding-left: 0;
    padding-right: 0;
    transition: 800ms;
} */

div.brand_container{
    margin: auto; 
    width: 35vw;
    text-align: center;
    transition: 500ms;
}

div.brand_container:hover{
    padding-left: 0;
    padding-right: 0;
    transition: 800ms;
}

a.brand_name:link, a.brand_name:visited{
    color: var(--font-color-pri);
    margin: 0;
    width: 0;
    font-size: 125%;
    /* font-size: 1.5vw; */
    /* letter-spacing: 3em; */
    letter-spacing: 4.4vw;
    padding-left: 1.5vw;
    padding-bottom: 1vw;
    transition: 500ms;
    text-decoration: none;
    display: block;
}

a.brand_name:hover{
    /* box-sizing: border-box; */
    letter-spacing: 4vw;
    font-size: 145%;
    /* width: 90%; */
    width: 31vw;
    transition: 400ms;
    border-bottom: 3px var(--primary-color) solid;
    border-right: 3px var(--primary-color) solid;
}

.brande {
	font-size: 1vw;
	/* font-weight: bold; */
	text-transform: uppercase;
	letter-spacing: 1vw;
	padding-right: 2vw;
	/* font-size: 0; */
}

h1.brand1:link, h1.brand1:visited{
    font-size: 2px;
    /* display: none; */
    font-weight: bold;
    
}

h1.brand1:hover{
    text-decoration: underline;
}



p.tagline{
    color: var(--font-color-sec);
    font-size: 95vw;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 0;
}

div.body_container{
    margin-top: 7%;
    width: 100%;
}

div.background_img{
    position: absolute;
    z-index: -1;
    margin-top: -45px;
    margin-left: -10px;
    width: 200%;
    height: auto;
}

/* FOR TEXT TAGS USE */
.form{
    font-weight: bold;
    text-decoration: underline;

    color: black;
}

/* ----------------RESPONSIVE IFRAME----------------*/

/* iframe.responsive{
    width: 69vw;
    height: inherit;
    margin-left: 5vw;
    margin-right: 5vw;

    border: red 3px solid;
    overflow: auto;
} */

div.iframe-container {
	/* overflow: hidden; */
	/* padding-top: 25%; */
	position: relative;
	/* height: 100%; */
	margin: 1vw 3.5vw;
	/* top: auto; */
}
   
/* div.iframe-container:hover{
    
} */

.iframe-container iframe {
	/* border: 0; */
	height: 27.5vw;
	left: 0;
	/* position: absolute; */
	top: 0;
	width: 100%;
}


/* ----------------AT SPECIFIED SIZE CHANGE REPLACE THE SPECIFIED CLASSES PROPERTIES----------------*/

@media screen and (max-width: 900px){
    div.center_container{
        /* width: min-content; */
    }

    a.brand_name:hover{
        background-color: blue;
        /* width: 105%; */
    }
}

@media screen and (max-width: 580px){
    div.center_container{
        /* width: min-content; */
    }

    a.brand_name:hover{
        background-color: red;
        /* width: 120%; */
    }
}