body{
    font-family: Arial, Helvetica, sans-serif;
    /*letter-spacing: -1px;*/
	background-color: #0f1922;
	overflow: hidden;
}

div.background_img{
    position: absolute;
    z-index: -1;
    margin-top: -110px;
    margin-left: -10px;
    width: 200%;
    height: auto;
}

div.topleft_logo{
    margin-top: 35px;
    margin-left: 30px;
}

div.base{
    width: 564px;
    margin: auto;
}

div.border_container{
    margin-top: 20%;
    background-color: #0c141c;
    padding: 20px;
    width: 564px;
    border: transparent 3px solid;
	border-radius: 6px;
	box-shadow: 6px 6px 10px rgba(0, 0, 0, .4);
	transition: 1s;
	height: 422px;
}

div.border_container:hover{
    border: #ff8200fd 3px solid;
}

div.border_container:focus-within{
    border: #ff8200fd 3px solid;
}

div.left{
	width: 50%;
	height: 100%;
	float: left;
}
div.right{
	margin-left: 50%;
	height: 100%;
}
p.main{
    color: white;
    font-size: 26px;
    text-align: center;
    margin-top: 0px;
}


label{
    color: #8e9297;
    font-size: 12px;
}

input{
    padding: 10px;
    width: 100%;
    margin-bottom: 30px;
    /*margin-left: 50px;*/
    border-color: transparent;
    border-width: 1px;
    border-bottom-color: #1a2f41;
    background-color: transparent;
    color: white;
    transition: 500ms;
}

input:hover{
    border-bottom-color: #fb8000ff;
}
input:focus{
    border-bottom-color: #fb8000ff;
}

button{
    color: white;
    font-size: 18px;
    background-color: #fb8000ff;
    padding: 15px;
    width: 100%;
    border: 0px;
    border-radius: 3px;
    transition: 400ms;
}

button:hover{
    background-color: rgb(251, 140, 21);
}

button:active{
    transform: translateY(1px);
    background-color: rgb(251, 140, 21);
}

a.login{
	color: #fb8000ff;
}

a.login:link{
    color: #fb8000ff;
    font-size: 14px;
    text-decoration: none;
}
a.login:visited{
	color: #fb8000ff;
	text-decoration: none;
}
a.login:hover{
    text-decoration: underline;
}